
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f9f9f9;
        }

        nav {
            background-color: #333;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 15px;
            font-size: 18px;
        }

        nav a:hover {
            color: yellow;
        }
        header{
            margin: auto;
            text-align: center;
        }
        .container {
            padding: 30px;
            text-align: center;
          }
        .features {
            text-align: left;
            max-width: 600px;
            margin: 30px auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
          }
      

        p {
            font-size: 18px;
            color: #555;
        }
        #about{
            background-color: rgb(158, 201, 239);
        }
        #contact{
            background-color: rgb(19, 15, 53);
            color: wheat;
            height: 200px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        #contact p{
            color: white;
        }
        img{
            width: 500px;
        }
    
